.CountryItemContainer{
    display: flex;
    flex-direction: column;
}
.CountryItemDetails{
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ImageContainer{
    margin: 10%;
    background-color: rgb(49, 49, 49, 0.1)
}
.CountryItemDetails img{
    margin: 2%;
    width: 95%;
}
.CountryItemDetails h3{
    margin-left: 15%;
}
.ItemDetail {
    margin: 0%;
    width: 100%;
    text-align: start;
}