.SidebarContainer{
    display: flex;
    width: 30%;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    z-index: 5;
}
.SidebarOption{
    color: white;
    margin: 2em 1em;
}

@media(min-width:685px){
    .SidebarContainer{
        flex-direction: column;
        top: 100px;
        bottom: 100px;
    }
    .SidebarOption{
        text-align: justify;
    }
}